/* Modify the background color of the Navigation menu */
.navbar {
    background-color: burlywood;
}

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.buttonHolder {
  text-align: center;
}
