{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Address Search Form -->
    <form action="{% url 'search' %}" method='POST' style="padding: 2em 0 0 0;">
        {% csrf_token %}
        <!-- Search Form -->
        <div class="buttonHolder">
            <input id="address" type="text" name="address" placeholder="Enter a full U.S. address, city, state, or zip code" size=40>
            <button class="btn btn-primary" name="search_button" type="submit">{% trans "Search" %} </button>
        </div>
    </form>

    <div class="buttonHolder">
        {% block lower_title %}
        {% endblock lower_title %}
    </div>

    {% block lower_content %}
    {% endblock lower_content %}
{% endblock content %}
